<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="ss/style.min.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Admin Builder</title>
</head>

<body ng-app="aBMain" class="aB">
  <div class="container container-fluid">
    <div class="row" ng-controller="mainCtrl as mC">
      <div class="col-md-12">
        <!-- <div class="header row" ng-include="'templates/header.html'"> -->
        <div class="header row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-2">
                <button class="btn btn-default" ng-class="{active: !sShow}" ng-click="contentSwitch(false)" type="button">Editor</button>
              </div>
              <div class="col-sm-offset-8 col-sm-2">
                <button class="btn btn-default" ng-class="{active: sShow}" ng-click="contentSwitch(true)" type="button">Settings</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="content row" ng-include="'templates/content.html'"> -->
        <div class="content row">
          <!-- <div class="col-md-12 content" ng-include="contentTemplate"> -->
          <div class="col-md-12">
            <!--  EDITOR CONTENT START-->
            <div class="row" ng-show="!sShow">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-sm-2 tabs">
                    <ul class="menus">
                      <li ng-repeat="menu in aBMain.menus">
                        <button ng-click="setMenu($index)" type="button" name="button" ng-class="{'btn-primary' : isMenu($index)}" class="btn - btn-default btn-block">
                          {{menu.label}}
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-10" ng-show="aBMain.menus[selMI]">
                    <h2>{{aBMain.menus[selMI].label}}</h2>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row metabox" ng-repeat="mBox in aBMain.menus[selMI].children">
                          <div class="col-sm-12">
                            <div>
                              <div class="mBoxHeader">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <div class="expand">
                                          <button ng-click="isCollapsed = !isCollapsed" type="button" name="button" class="btn btn-default">
                                            <i ng-class="{'glyphicon-collapse-down':isCollapsed,'glyphicon-collapse-up':!isCollapsed}" class="glyphicon"></i>
                                          </button>
                                        </div>
                                        <div class="navigate">
                                          <button ng-click="movePosition(aBMain.menus[selMI].children,$index,'up')" class="btn btn-default" type="button" name="button">
                                            <i class="glyphicon glyphicon-arrow-up"></i>
                                          </button>
                                          <button ng-click="movePosition($index,'down')" class="btn btn-default" type="button" name="button">
                                            <i class="glyphicon glyphicon-arrow-down"></i>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="col-sm-4">
                                        <div class="aBLLabel">
                                          {{mBox.label}}
                                        </div>
                                      </div>
                                      <div class="col-sm-4 text-right">
                                        <div class="remove">
                                          <button ng-click="removeMe(aBMain.menus[selMI].children,$index)" type="button" name="button" class="btn btn-default">
                                            <i class="glyphicon glyphicon-remove"></i>
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mBoxBody" uib-collapse="isCollapsed">
                                <div class="row">
                                  <div class="col-sm-2 col-sm-offset-10">
                                    <button type="button" name="button" ng-click="mBoxSett = !mBoxSett" ng-class="{'btn-default':!mBoxSett,'btn-primary':mBoxSett}" class="btn btn-block">Edit</button>
                                  </div>
                                </div>
                                <!-- MetaBox Settings container START -->
                                <div class="row mBoxSettContainer" ng-show="mBoxSett">
                                  <div class="col-sm-12">
                                    <!-- Label START -->
                                    <div class="input-group">
                                      <span class="input-group-addon" uib-tooltip="The text label of the meta-box. What the header of the metabox text says.(Should change live as you type above.)">Label</span>
                                      <input ng-model="mBox.label" type="text" class="form-control" placeholder="metaboxLabel" value="{{mBox.label}}" />
                                    </div>
                                    <!-- Label END -->

                                    <!-- Name START -->
                                    <div class="input-group">
                                      <span class="input-group-addon" uib-tooltip="the unique name of the meta-box. Used behind the scenes.">Name</span>
                                      <input ng-model="mBox.name" type="text" class="form-control" readonly placeholder="metaboxName" value="{{mBox.name}}" />
                                    </div>
                                    <!-- Name END -->

                                    <!-- Context START -->
                                    <div class="input-group">
                                      <span class="input-group-addon" uib-tooltip="Where the metabox should be positioned on the page. Normal (under content tinyMCE) or side panel (the right).">Context</span>
                                      <select class="form-control" name="context" ng-model="mBox.context" >
                                        <option ng-repeat="context in mBContext" value="{{context.value}}">{{context.label}}</option>
                                      </select>
                                    </div>
                                    <!-- Context END -->

                                    <!-- Priority START -->
                                    <div class="input-group">
                                      <span class="input-group-addon" uib-tooltip="The importance (position wise) of the meta-box.">Priority</span>
                                      <select class="form-control" name="priority" ng-model="mBox.priority" >
                                        <option ng-repeat="priority in mBPriority" value="{{priority.value}}">{{priority.label}}</option>
                                      </select>
                                    </div>
                                    <!-- Priority END -->




                                  </div>
                                </div>
                                <!-- MetaBox Settings container END -->
                                <!-- Fields START -->
                                <div class="field" ng-repeat="field in mBox.fields" ng-show="!mBoxSett">
                                  <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 fMainContainer">
                                      <div class="fieldHeader">
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="row">
                                              <div class="col-sm-4">

                                                <div class="expand">
                                                  <button ng-click="isFieldCollapsed = !isFieldCollapsed" type="button" name="button" class="btn btn-default">
                                                    <i ng-class="{'glyphicon-collapse-down':isFieldCollapsed,'glyphicon-collapse-up':!isFieldCollapsed}" class="glyphicon"></i>
                                                  </button>
                                                </div>
                                                <div class="navigate">
                                                  <button ng-click="movePosition(mBox.fields,$index,'up')" class="btn btn-default" type="button" name="button">
                                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                                  </button>
                                                  <button ng-click="movePosition(mBox.fields,$index,'down')" class="btn btn-default" type="button" name="button">
                                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="col-sm-4">
                                                <div class="aBLLabel">
                                                  {{field.label}}
                                                </div>
                                              </div>
                                              <div class="col-sm-4 text-right">
                                                <div class="remove">
                                                  <button ng-click="removeMe(mBox.fields,$index)" type="button" name="button" class="btn btn-default">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                  </button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="fieldBody" uib-collapse="isFieldCollapsed">
                                        Field Content
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Fields End -->
                                <div class="text-center addField" ng-show="!mBoxSett">
                                  <select name="addField" class="form-control" ng-model="fieldModel" ng-change="addField(mBox.fields,fieldModel)">
                                    <option ng-repeat="fO in fieldOptions" value="{{fO.type}}">{{fO.label}}</option>
                                  </select>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-center addMBButton">
                          <button ng-click="addMetabox(aBMain.menus[selMI].children)" class="btn btn-primary" type="button" name="button"> Add Metbox</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  Editor Content End-->

            <!-- Settings container START -->
            <div class="col-md-12" ng-show="sShow">
              this is the settings template
            </div>
            <!-- Settings container END -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript " src="lib/angular.js "></script>
  <script type="text/javascript " src="lib/ui-bootstrap-tpls-1.2.5.min.js"></script>
  <script type="text/javascript " src="lib/angular-animate.js"></script>
  <script type="text/javascript " src="ss/script.min.js "></script>
</body>

</html>
